*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px;
    font-family: "Segoe UI";
    
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.connect-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}
.video-container{
    width: 100%;
    background-color:transparent;
    row-gap: 20px;
}

.chat-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 90vw;
    max-height: 40em;
    border-radius: 2%;

}

.all-chats{
    width: 90%;
    background-color: aliceblue;
    padding: 10px;
    max-height: 90%;
    overflow: scroll;
}

.chats{
    background-color: aliceblue;
}

h2{
    background-color: white;
}

#send-button{
    width: 200px;
    background-color: aliceblue;
}


.video-stream-container{
    border-radius: 5%;
    max-height: 20em;
}

.icon{
    border-width: 30ch;
    padding: 20px;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    object-fit: cover;
    cursor: pointer;

}

.flexCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}

button{
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: #24292E;
  cursor: pointer;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 6px 16px;

}

.icon-container{
    border-radius: 50%;
    border-color: #24292E;
    background-color: #24292E;
}


.textBoxArea{
    width: 90%;
    height: 20em;
    background-color: rgb(195, 195, 195);
    border-radius: 2%;
}

.chatBoxArea{
    width: 90%;
    height: 10vh;
    background-color: aliceblue;
    border-radius: 2%;
}

.maxWidth{
    width: 100%;
}
#sample-video{

    height: 20em;
    border-radius: 5%;
}

